/* Change font to Arial for the web page */
body {
	font-family: Arial;
}

/* Center align headers */
.centered {
	text-align: center;
}

/* Flexbox container for children */
.container {
  display: flex;
}

/* Children 1 that takes up 60% of the page */
#column1 {
  flex: 60%;
}

/* Children 2 that takes up 40% of the page */
#column2 {
	flex: 40%;
}

/* Style axes color and width */
.axes {
	stroke: rgb(0, 0, 0);
	stroke-width: 2;
}

.tooltip {
	position: absolute;
	background-color: grey;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px;
}

/* format button */
button {
	line-height: 1;
	padding:5px;
}

/* format text size */
text {
	font-size: 15px;
}

/* format select */
select {
	padding-inline: 5px;

}

/* format label */
label {
	line-height: 2.5;
}